/*****************GENERAL STYLING******************/
* {
    margin: 0px;
}

body {
    align-content: center;
    background-color: #1e1f36;
}

p {
    margin-left: 5%;
    text-align: left;
    width: max-content;
}

/******************MAIN SECTION*****************/
#tituloPrincipal {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.moves {
    margin: 3% 0% 0% 3%;
    font-size: 50px;
    background: none;
    border: none;
    transition: 100ms;
}

.moves:hover {
    transform: scale(1.2);
}

.gameBox {
    margin: 25%;
    padding: 5%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
}